span.green {
  color: #06c167;
}
.head {
  display: inline-block;
}
.nav {
  display: inline-block;
  margin-left: 90px;
}
#n {
  margin-left: 9px;
}
.hero-area {
  display: inline-block;
}
.aside {
  display: inline-block;
}
h1 {
  text-align: center;
}


